@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  background:linear-gradient(#fafafa, #dddddd);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size:16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  padding:0;
}
.wrapper {
  width:100%;
  height:100vh;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width:100%;
  max-width:400px;
  display:flex;
  justify-content: center;
}
.calculator {
  background:#333;
  padding:20px;
  border-radius: 8px;
  color:#ffffff;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px #a4a4a4;
  width:100%;
  max-width:300px;
}

.calculator .row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom:6px;
}

.calculator button {
  background-image:linear-gradient(#f753ca, #7b27c9);
  padding:10px;
  font-size: 20px;
  border:1px solid #222;
  border-bottom:2px solid #222;
  margin:0;
  border-radius: 50%;
  outline: none;
  width:60px;
  height:60px;
  color:#ffffff;
}

.calculator button:active {
  background-image:linear-gradient(#de53f7, #7b27c9 );
  border-bottom:1px solid #222;
}

.calculator button.clear-btn {
  background-image:linear-gradient(#efefef, #ccc);
  width:100%;
  color:#333;
  border-radius:30px;
  margin-top:10px;
}

.calculator .calc-btn.operator {
  background-image:linear-gradient(#68b2f7, #7b27c9);
}
.calculator .calc-btn.operator:active {
  background-image:linear-gradient(#7b27c9, #7268f7);
}

.display {
  background:#ffffff;
  padding:15px 10px;
  position:relative;
  width:100%;
  margin:0 0 15px;
  color:#464646;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  border:1px solid #222;
  border-radius:4px;
}
.previous-number {
  font-size: 14px;
  height:20px;
  position:absolute;
  top:5px;
  left:10px;
}
.current-number {
  height:30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
